<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.couragedigital.peto"
          android:versionCode="6"
          android:versionName="1.0.6">
    <uses-sdk android:minSdkVersion="17"
              android:targetSdkVersion="24"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <application android:theme="@style/AppTheme"
                 android:name="com.couragedigital.peto.app.AppController"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">

        <provider android:authorities="com.facebook.app.FacebookContentProvider1068872133154801"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <meta-data android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                    android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                    android:value="@string/google_key_api"/>

        <meta-data
                android:name="com.google.android.urlshortener.API_KEY"
                android:value="@string/google_key_api"/>

        <receiver
                android:name=".InternetConnectivity.NetworkChangeReceiver"
                android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".SplashScreen"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Index"
                  android:label="@string/app_name"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".SignIn"
                  android:label="@string/app_name" android:noHistory="true"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".BaseActivity"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".SignUp"
                  android:label="Sign Up" android:noHistory="true"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".SetNewPassword"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Set New Password" android:noHistory="true"/>

        <activity android:name=".EmailForCode"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Email for Code" android:noHistory="true"/>

        <activity android:name=".PetForm" android:label="Upload Details"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetList" android:label="Pet List"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetListDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetListFilter"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Filter"/>

        <activity android:name=".PetClinic"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Clinics"/>

        <activity android:name=".PetMate"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Upload Details"/>

        <activity android:name=".PetMateList"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Pet Mate List"/>

        <activity android:name=".PetMateListDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetMateListFilter"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetClinicDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".CropImage.MonitoredActivity"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".CropImage.CropImage"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".PetServices"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Services"/>

        <activity android:name=".TabFragmentTrainerDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".TabFragmentGroomerDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".TabFragmentShelterDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".TabFragmentStoresDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".Feedback"
                  android:label="Feedback"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".MyListing"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="My Listing"/>

        <activity android:name=".MyListingPetListDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".MyListingPetMateListDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".ClinicRateNReview"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".EditProfile"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Edit Profile"/>

        <activity android:name=".MyListingModifyPetDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Edit Listing"/>

        <activity android:name=".MyListingModifyPetMateDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Edit Listing"/>

        <activity android:name=".WishList"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Wish List"/>

        <activity android:name=".WishListPetListDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Wish List"/>

        <activity android:name=".WishListPetMateDetails"
                  android:configChanges="orientation" android:screenOrientation="portrait"
                  android:label="Wish List"/>

        <activity android:name=".CheckPasswordForEditProfile"
            android:configChanges="orientation" android:screenOrientation="portrait"
            android:label="Edit Profile"/>

        <activity android:name=".DialogBox.NotifyNetworkConnectionMessage"
                  android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".DialogBox.Data_NotSaved_DialogBox"
            android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".DialogBox.TimeOut_DialogeBox"
            android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".DialogBox.NullRespone_DialogeBox"
            android:configChanges="orientation" android:screenOrientation="portrait"/>

        <activity android:name=".ClinicMap"
            android:configChanges="orientation" android:screenOrientation="portrait"/>
		
		<activity android:name=".Pet_Shop_List"
                  android:screenOrientation="portrait" android:label="Shop"/>

        <activity android:name=".Pet_Shop_List_Details"
                  android:screenOrientation="portrait" />

        <activity android:name=".MyOrders"
                  android:screenOrientation="portrait" android:label="Orders"/>

        <activity android:name=".MyOrder_List_Details"
                  android:screenOrientation="portrait" />
        <activity android:name=".Legal"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_Form" android:label="Upload Details"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_List" android:label="My Campaign List"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_List_Details"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_List_ForAll" android:label="Campaign List"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_List_ForAll_Details"
                  android:screenOrientation="portrait" />
        <activity android:name=".NGO_Donation"
                  android:screenOrientation="portrait" />
        <activity android:name=".Campaign_Modify" android:label="Modify Campaign Details"
                  android:screenOrientation="portrait" />
        <activity android:name=".Ngo_NotVerify" android:label="Not Verify"
                  android:screenOrientation="portrait" />
        <activity android:name=".DialogBox.EmptyListDialoge" android:label="No List"
                  android:screenOrientation="portrait" />

        <activity android:name=".ServiceRateNReview" android:label="Feedback"
                  android:screenOrientation="portrait" />


        <activity android:name=".PaymentActivity" />
        <activity android:name="com.razorpay.CheckoutActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

    <permission android:name="com.couragedigital.peto.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
</manifest>
