<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.couragedigital.petapp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"
              android:targetSdkVersion="23"/>
    <application android:theme="@style/AppTheme"
                 android:name=".app.AppController"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher">

        <activity android:name=".Index"
                      android:label="@string/app_name"
                      android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <uses-feature
                    android:name="android.hardware.camera"
                    android:required="true"/>
        </activity>


        <activity android:name=".SignIn"
              android:label="@string/app_name"/>
        <activity android:name=".PetForm"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".PetList"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".SignUp"
                  android:label="Sign Up"/>
        <activity android:name=".SetNewPassword"
                  android:label="Set New Password"/>
        <activity android:name=".EmailForCode"
                  android:label="Email for Code"/>
        <activity android:name=".PetListDetails"/>
        <activity android:name=".PetListFilter"/>
	<activity android:name=".PetMet"/>
        <activity android:name=".PetMetList"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
